.contain,
%contain {
	@include outer-container(1088px);
	padding: $base-spacing-unit;
}

.text-upper,
%text-upper {
    text-transform: uppercase;
}

.text-center,
%text-center {
    text-align: center;
}

.lede,
%lede {
    @include font-size($lede-size);
}

.list-flat,
%list-flat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.video-wrapper,
%video-wrapper {
	position: relative;
	padding-bottom: 56.34%;
	padding-top: rem(25);
	height: 0;
	overflow: hidden;

	iframe, object,
	embed, video {
	    height: 100%;
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
}