// Settings
$base-font-size: 16px;
$base-line-height: 24px;
$em-base: $base-font-size;


// Spacing
$base-spacing-unit: $base-line-height;
$base-spacing-unit--tiny: round($base-spacing-unit / 4);
$base-spacing-unit--small: round($base-spacing-unit / 2);
$base-spacing-unit--large: round($base-spacing-unit * 2);
$base-spacing-unit--huge: round($base-spacing-unit * 4);


// Colors


// Element colors
$text-color: black;
$link-color: $text-color;
$link-color-hover: $text-color;
$background-color: white;

// Fonts
$primary-font-family: Arial, sans-serif;
$secondary-font-family: Arial, sans-serif;

// Animations
$speed: 350ms;

// Breakpoints
$screen-medium: 767px;
$screen-large: 992px;