// Colors


// Element colors
$text-color: black;
$link-color: $text-color;
$link-color-hover: $text-color;
$background-color: white;

// Fonts
$primary-font-family: Arial, sans-serif;
$secondary-font-family: Arial, sans-serif;

// Animations
$speed: 350ms;

// Breakpoints
$screen-medium: 767px;
$screen-large: 992px;